# Pnpm postinstall script should execute after all dependencies download
node-linker=hoisted
# Preferably link to existing node_modules
link-workspace-packages=true
# Prefer local package over registery
prefer-workspace-packages=true
# Commands fail if there invalid or missing peer dependencies
strict-peer-dependencies=false
